<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Monitor de Ping</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h2>Monitor de Ping em Tempo Real</h2>

    <input type="text" id="groupInput" placeholder="Nome do grupo (ex: Caixas)">
    <button onclick="addGroup()">Criar Grupo</button>

    <hr>

    <div id="ip-form" style="display:none;">
        <input type="text" id="nameInput" placeholder="Nome (ex: CX 01)">
        <input type="text" id="ipInput" placeholder="IP ou host">
        <button onclick="addIP()">Adicionar IP</button>
    </div>

    <div id="group-tabs"></div>
    <div id="tabs"></div>
    <div id="panels"></div>

    <script src="{{ url_for('static', filename='js/monitor.js') }}"></script>
</body>

</html>